<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shisan.mapper.sys.PermissionMapper">

    <select id="findInRoleIds" resultType="cn.shisan.domain.entity.sys.Permission">
        select * from tbl_permission p
        join tbl_role_permission pr on pr.permission_id = p.id
        where p.deleted = 0 and p.status = 1 and pr.deleted = 0 and pr.role_id in
        <foreach collection="roleIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="null != type">
            and p.type = #{type}
        </if>
    </select>

</mapper>